fastapi
uvicorn[standard]
pydantic[email]
sqlalchemy
alembic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
loguru
ollama
openai
anthropic
google-generativeai
groq
together
pyjwt[crypto]
tiktoken
psutil
chromadb
sentence-transformers
pydantic-settings
pydantic>=2.0.0
